
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand .hidden-desktop .hidden-tablet" href="#/pages/home.html" data-link-title="Home" data-href="/pages/home.html" data-load="ajax">Home</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="#/pages/home.html" data-link-title="Home" data-href="/pages/home.html" data-load="ajax">Home</a>
          </li>
          <li class="">
            <a href="http://blog.emmanbautista.com">Blog</a>
          </li>
          <li class="">
            <a href="#/pages/aboutme.html" data-link-title="About Me" data-href="/pages/aboutme.html" data-load="ajax">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
